---
import { posts } from '../../data/data.js';
import Layout from '../../layouts/Layout.astro';
import Nutrition from '../../components/Nutrition.astro';
import Ingredients from '../../components/Ingredients.astro';
import Alert from '../../components/Alert.astro';

export async function getStaticPaths() {
  return posts.map(post => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = posts.find(p => p.slug === slug);
const title = `Refeições Congeladas - ${post?.title}`

if (!post) {
  throw new Error('Post não encontrado');
}
---

<Layout title={title}>
  <Nutrition post={post} />
  <Ingredients post={post} />
  <Alert note={post.allergic} />

  <a href="/">Voltar para o Blog</a>
</Layout>
    
 
