---
import { posts } from '../../data/data.js';
import Layout from '../../layouts/Layout.astro';
import Nutrition from '../../components/Nutrition.astro';
import Ingredients from '../../components/Ingredients.astro';
import Alert from '../../components/Alert.astro';
import PostHero from '../../components/PostHero.astro';

export async function getStaticPaths() {
  return posts.map(post => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = posts.find(p => p.slug === slug);
const title = `Refeições Congeladas - ${post?.title}`

if (!post) {
  throw new Error('Post não encontrado');
}
---

<Layout title={title}>  
  <div class="flex justify-between max-w-[1256px] mt-12 m-auto px-5">
    <div>
      <Ingredients post={post} />
      <Alert note={post.allergic} />
    </div>

    <Nutrition post={post} />
  </div>

  <a href="/">Voltar para o Blog</a>
</Layout>
    
 
