---
import { posts } from "../../data/data.js";
import Layout from "../../layouts/Layout.astro";
import PostHero from "../../components/PostHero.astro";
import Nutrition from "../../components/Nutrition.astro";
import Information from "../../components/Information.astro";
import Alert from "../../components/Alert.astro";

export async function getStaticPaths() {
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = posts.find((p) => p.slug === slug);
const title = `Refeições Congeladas - ${post?.title}`;

if (!post) {
  throw new Error("Post não encontrado");
}
---

<Layout title={title}>
  <PostHero post={post} />

  <div
    class="max-w-[1256px] m-auto px-5 flex justify-between flex-wrap gap-8 mt-12"
  >
    <div class="grid gap-8">
      <div class="grid gap-6">
        <Information title="Ingredientes" content={post.ingredients} />
        <Alert note={post.allergic} />
      </div>

      <Information
        title="Conservação"
        content="O prazo de validade varia segundo a temperatura de conservação. Mantenha congelado à temperatura igual ou inferior a -18ºC (freezer). Depois de descongelado, manter em temperatura de até 5ºC (refrigerador) e consumir em até 3 dias. Descongelar somente no forno ou refrigeração."
      />

      <Information
        title="Preparo"
        content="Leve o alimento ainda congelado, na embalagem original sem a tampa, ao forno preaquecido à temperatura de 180ºC por aproximadamente 12 minutos e estará pronto para servir."
      />
    </div>

    <Nutrition post={post} />
  </div>

  <a href="/">Voltar para o Blog</a>
</Layout>
