---
import { data } from "../../data";
import Layout from "../../layouts/Layout.astro";
import Product from "../../components/Product.astro";
import Information from "../../components/Information.astro";
import Nutrition from "../../components/Nutrition.astro";

export async function getStaticPaths() {
  return data.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = data.find((p) => p.slug === slug);
const title = `Refeições Congeladas - ${post?.title}`;

if (!post) {
  throw new Error("Post não encontrado");
}
---

<Layout title={title}>
  <div class="post">
    <Product
      slug={post.slug}
      title={post.title}
      price={post.price}
      weight={post.weight}
    />

    <div class="wrapper grid post-info" data-fit>
      <div class="flow">
        <div>
          <Information title="Ingredientes" content={post.ingredients} />
        </div>
        <div>
          <Information title="Conservação" content={post.conservation} />
        </div>
        <div>
          <Information title="Preparação" content={post.preparation} />
        </div>
      </div>

      <div>
        <Nutrition values={post} />
      </div>
    </div>
  </div>
</Layout>
