---
import "../css/block/card.css";
import Images from "./Images.astro";

const { slug, title, price, weight } = Astro.props;
---

<article class="card">
  <a href={`./post/${slug}`}>
    <Images src={slug} alt={title} />

    <div class="flow card-info">
      <div class="repel" data-nowrap>
        <h3 class="card-title">{title}</h3>
        <p class="card-weight">{weight}g</p>
      </div>

      <p class="card-price">R$ {price}</p>
    </div>
  </a>
</article>
