---
const { post } = Astro.props;
const {portion, calories, carbohydrate, sugars, added, protein, fat, saturated, trans, fiber, sodium} = post;
---

<table>
  <caption>Tabela Nutricional</caption>
  <thead>
    <tr>
      <th>Porção de {portion}</th>
      <th>Total</th>
      <th>VD*</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Valor energético (kcal)</th>
      <td>{calories.g}</td>
      <td>{calories.vd}%</td>
    </tr>
    <tr>
      <th>Carboidratos (g)</th>
      <td>{carbohydrate.g}</td>
      <td>{carbohydrate.vd}%</td>
    </tr>
    <tr>
      <th>Açucares totais (g)</th>
      <td>{sugars.g}</td>
      <td>{sugars.vd}%</td>
    </tr>
    <tr>
      <th>Açucares adicionados (g)</th>
      <td>{added.g}</td>
      <td>{added.vd}%</td>
    </tr>
    <tr>
      <th>Proteínas (g)</th>
      <td>{protein.g}</td>
      <td>{protein.vd}%</td>
    </tr>
    <tr>
      <th>Gorduras totais (g)</th>
      <td>{fat.g}</td>
      <td>{fat.vd}%</td>
    </tr>
    <tr>
      <th>Gorduras saturadas (g)</th>
      <td>{saturated.g}</td>
      <td>{saturated.vd}%</td>
    </tr>
    <tr>
      <th>Gorduras trans (g)</th>
      <td>{trans.g}</td>
      <td>{trans.vd}%</td>
    </tr>
    <tr>
      <th>Fibra alimentar (g)</th>
      <td>{fiber.g}</td>
      <td>{fiber.vd}%</td>
    </tr>
    <tr>
      <th>Sódio (mg)</th>
      <td>{sodium.g}</td>
      <td>{sodium.vd}%</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td >
        *Percentual de valores diários fornecidos pela porção.
      </td>
    </tr>
  </tfoot>
</table>
