---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import icon from "../images/pattern.png";

const { post, imagePath, altText } = Astro.props;
const { title, price, weight } = post;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../images/*.{jpeg,jpg,png,gif}",
);
---

<div class="py-20 bg-[#F2F4F8]">
  <div
    class="flex items-center justify-between flex-wrap gap-8 max-w-[1256px] m-auto px-5"
  >
    <Image class="rounded-lg" src={images[imagePath]()} alt={altText} />

    <div class="max-w-[488px] w-full">
      <Image src={icon} alt="Ícone Refeições Congeladas" />
      <h3
        class="max-w-96 mt-4 text-[32px] font-medium leading-[1.1] text-[#003180] text-balance"
      >
        {title}
      </h3>
      <p class="mt-4 font-medium text-[#E50040]">R$ {price}</p>
      <p class="mt-1 text-sm text-neutral-500">{weight}g</p>
    </div>
  </div>
</div>
