---
const { post, slug } = Astro.props;
const { title, category, price, weight } = post;
---

<article>
  <a href={`/post/${slug}`}>
    <p>{category}</p>
    <h2>{title}</h2>
    <p>R${price}</p>
    <p>{weight}g</p>
  </a>
</article>
