---
import { Image } from "astro:assets";
import Images from "./Images.astro";
import pattern from "../images/pattern.png";

const { slug, title, price, weight } = Astro.props;
---

<div class="product">
  <div class="wrapper grid" data-fit>
    <Images src={slug} alt={title} />

    <div class="flow product-info">
      <img
        class="product-pattern"
        src={pattern.src}
        alt="Ícone Refeições Congeladas"
        height={32}
        width={32}
      />

      <h2 class="product-title">
        {title}
      </h2>

      <div>
        <p class="product-price">R$ {price}</p>
        <p class="product-weight">{weight}g</p>
      </div>
    </div>
  </div>
</div>
