---
import "../css/block/slide.css";
import Card from "./Card.astro";
import { data } from "../data";

const { category } = Astro.props;
const posts = data.filter((data) => data.category === category);
---

<div id={category.toLowerCase()} class="slide">
  <div class="flow swiper">
    <div class="repel slide-header">
      <h3>{category}</h3>
      <div class="swiper-pagination"></div>
    </div>

    <div class="swiper-wrapper">
      {
        posts.map((post) => (
          <div class="swiper-slide" style="height: auto;">
            <Card
              slug={post.slug}
              title={post.title}
              price={post.price}
              weight={post.weight}
            />
          </div>
        ))
      }
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/pagination";

  const swiper = new Swiper(".swiper", {
    breakpoints: {
      640: {
        slidesPerView: 2.25,
      },
      1024: {
        slidesPerView: 3.25,
      },
    },
    loop: false,
    modules: [Pagination],
    pagination: {
      el: ".swiper-pagination",
    },
    scrollbar: {
      el: ".swiper-scrollbar",
    },
    slidesPerView: 1.25,
    spaceBetween: 32,
  });
</script>
